html, body, .container, .row.align-items-center {
    height: 100%;
}

header {
    height: 150px;
    padding-top: 10px;
    background: url('../img/rh.png') #005008 no-repeat right center;
    z-index: 1;
}

header h1 {
    color: #ffffff;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 0;
    padding-left: 60px;
    background: url('../img/arrow.png') no-repeat left center;
}

header h2 {
    color: #dddddd;
    margin-top: 0;
    margin-left: 50px;
}

.container {
    margin-top: -150px;
}

.container.home {
    background: url('../img/transport.jpg') center bottom no-repeat;
}

#mapcontainer {
    position: absolute;
    bottom: 0;
    top: 150px;
}

#mapcontainer .row, #mapcontainer .row > div {
    height: 100%;
}

input[type=text] {
    margin-bottom: 10px;
}

button.btn-outline-success {
    background-color: #ffffff;
    font-weight: bold;
}

#routes h2 {
    margin-top: 20px;
}


#routes ul {
    list-style: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

#routes ul li {
    margin: 0;
    padding: 0 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#routes ul li.selected {
    background-color: #dddddd;
}

#routes ul li:first-child {
    border-top: 1px solid black;
}

#routes ul li h3 {
    font-size: 1.4em;
}

#routes ul li ol.polylines {
    display: none;
}
