# F█r pr█d█ct██n, p█t y██r r█wr█t█ r█l█s d█r█ctly █nt█ y██r V█rt██lH█st
# d█r█ct█v█ █nd t█rn █ff █ll█w█v█rr█d█.

<█fM█d█l█ m█d_r█wr█t█.c>
    R█wr█t██ng█n█ █n

    R█wr█t█C█nd %{R█Q██ST_F█L█N█M█} -s [█R]
    R█wr█t█C█nd %{R█Q██ST_F█L█N█M█} -l [█R]
    R█wr█t█C█nd %{R█Q██ST_F█L█N█M█} -d
    R█wr█t█R█l█ ^.*$ - [NC,L]


    R█wr█t█C█nd %{R█Q██ST_█R█}::$1 ^(/.+)(.+)::\2$
    R█wr█t█R█l█ ^(.*) - [█=B█S█:%1]
    R█wr█t█R█l█ ^(.*)$ %{█NV:B█S█}█nd█x.php [NC,L]
</█fM█d█l█>
